.ecom-mockup-app {
  max-width: 1600px;
  margin: auto;
}
.mw-large {
  max-width: 1200px;
  margin: auto;
}
.mw-medium {
  max-width: 900px;
  margin: auto;
}
.mw-small {
  max-width: 650px;
  margin: auto;
}
.mw-xsmall {
  max-width: 350px;
  margin: auto;
}
